.navbar{
    text-align: center;
    display:inherit;
    height: 115px;
}
.nav-link:hover{
    background-color: grey;
}
.navbar-nav.navbar-center{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    font-size: 20px;
    margin-top: 30px;
}
#name{
font-size: 34px;
}
body{
    background-image: url(https://image.freepik.com/free-photo/3d-low-poly-abstract-background-with-connecting-lines-dots_1048-11673.jpg);
    background-size: cover;
    color:white;
    margin-bottom: 70px;
}
h1{
    margin-top: 50px;
    font-size:65px;
    border-bottom-style: solid;
    border-bottom-color:rgb(19, 52, 102);
    border-bottom-width:5px;
}
/*bio*/
.prof{
    height: 225px;
    width: 225px;
    border-style: groove;
    border-color: rgb(19, 52, 102);
    border-width: 8px;
}
.text{
    padding-top: 35px;
    font-size: 22px;
}
/*projects*/
.card{
    margin:15px;
    border-radius: 10px;
    border-width: 8px;
    border-color: rgb(29, 93, 140);
}
.card-header{
    height: 60px;
    padding:0px;
    font-weight: 200;
    font-size: 32px;
    margin-top: 0px;
    background-color: rgb(29, 93, 140);
}
.card-body{
    padding:0px;
}
.project{
    background-color: rgba(33, 115, 170, 0.548);
}
.back{
    margin: 5px;
    background-color:rgb(1, 19, 46);
    color:white;
    font-weight: 600;
}
.back:hover{
    color: rgb(88, 204, 250);
}
/*footer*/
i{
    color:white;
    background-color:rgb(19, 52, 102);
    font-size: 40px;
    padding:5px;
}
footer{
        z-index:1;
        background-color:rgb(19, 52, 102);
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
}
#icons{
    margin-top: 0px;
    padding:3px;
}
@media screen and (max-width: 768px){
    body{
        margin-bottom: unset;
    }
    h1{
        text-align: center;
    }
    .back{
        float:right;
    }
   .bio{
       text-align:center;
   }
   .prof{
       height:300px;
       width:300px;
   }
   .bottom{
       width:20%;
   }
   footer{
       position:static;
   }
}
