.navbar{
    color: white !important;
    text-align: center;
    display:inherit;
}
.navbar-nav{
    width: 100%;
    justify-content: center;
    font-size: 20px;
}
.nav-link:hover{
    border-radius: 5px;
    background-color: rgb(1, 19, 46);
    color: rgb(88, 204, 250);
}
.nav-link{
    color: white;
    font-size: 32px;
    margin: 10px;
}
#name{
    padding:25px;
    font-size: 90px;
    text-align: center;
    color: white !important;

}
body{
    background-image: url(https://s3.envato.com/files/228789095/Preview.jpg);
    /*https://s3.envato.com/files/228789095/Preview.jpg*/
    /*https://images.all-free-download.com/images/graphicthumb/nostalgic_blue_background_06_hd_pictures_169782.jpg*/
    background-attachment: fixed;
    background-size: cover;
    color:white;
    margin-bottom: 70px;
   
}
h1{
    font-size:65px;
    margin-top: 50px;
    margin-bottom: 45px;
    border-bottom-style: solid;
    border-bottom-color: rgb(1 25 85);
    border-bottom-width: 5px;
    text-align: center;
    background-color: #011955d9;
    border-radius: 30px;
    color: #12d3ff;
}
/*bio*/
.prof{
    height: 225px;
    width: 225px;
    border-style: groove;
    border-color: rgb(19, 52, 102);
    border-width: 8px;
}
#email{
    width:100%;
    display:flex;
    justify-content:center; 
    padding: 5px;
    height:50px;
}
#email p{
    background-color: rgb(8 44 132 / 88%);
    font-size: 22px;
    text-align: center;
    height: 50px;
    padding:10px;
    border-radius: 5px;
}
.text{
    padding-top: 35px;
    font-size: 22px;
    background-color: rgb(8 44 132 / 88%);
}
/*projects*/
.card{
    margin:15px;
    border-radius: 10px;
    border-width: 8px;
    border-color: rgb(8 44 132);
}
.card-header{
    height: 60px;
    padding:0px;
    font-weight: 200;
    font-size: 32px;
    margin-top: 0px;
    background-color: rgb(8 44 132);
}
.card-body{
    padding:0px;
}
.project{
    background-color: rgb(2 28 90 / 49%);
}
/*buttons*/
.back{
    margin: 5px;
    background-color:rgb(1, 19, 46);
    color:white;
    font-weight: 600;
}
.back:hover{
    color: rgb(88, 204, 250);
}
/*contact*/
#form{
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(8 44 132 / 88%);
}
/*footer*/
i{
    color:white;
    background-color: rgb(8 44 132 / 99%);
    font-size: 40px;
    padding:5px;
}
footer{
        z-index:1;
        background-color: rgb(8 44 132 / 99%);
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
}
#icons{
    margin-top: 0px;
    padding:3px;
}
@media screen and (max-width: 768px){
    .navbar{
        width: 100%;
    }
    #name{
        font-size: xx-large;
    }
    .navbar-toggler{
        background-color: rgb(1, 19, 46 );
    }
    .navbar-collapse{
        background-color:rgba(1, 19, 46, 0.5);
        padding:15px;
    }
    body{
        margin-bottom: unset;
    }
    h1{
        text-align: center;
    }
    .back{
        float:right;
    }
   .bio{
       text-align:center;
   }
   .prof{
       height:300px;
       width:300px;
   }
   .bottom{
       width:20%;
   }
   footer{
       position:static;
   }
}
